# .env.example — copier en .env et remplir

# PostgreSQL
POSTGRES_DB=digipass_db
POSTGRES_USER=digipass_user
POSTGRES_PASSWORD=votre_mot_de_passe_fort

# Flask
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=votre_cle_secrete_flask_longue_et_aleatoire
DATABASE_URL=postgresql://digipass_user:votre_mdp@db:5432/digipass_db

# pgAdmin
PGADMIN_EMAIL=admin@digipass.cm
PGADMIN_PASSWORD=admin_password
