# .env.example — copier en .env et remplir

# PostgreSQL
POSTGRES_DB=diplopass_db
POSTGRES_USER=diplopass_user
POSTGRES_PASSWORD=votre_mot_de_passe_fort

# Flask
FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=votre_cle_secrete_flask_longue_et_aleatoire
DATABASE_URL=postgresql://diplopass_user:votre_mdp@db:5432/diplopass_db

# pgAdmin
PGADMIN_EMAIL=admin@diplopass.cm
PGADMIN_PASSWORD=admin_password
